*{
    /*margen  externo*/
    margin: 0;
    /*margen interno */
    padding: 0;
}

body{
    background-image: url(shania-diaz-fondo/fondo2.gif);
    background-size: cover;
}

.content-form{
    width:350px ;
    background-color:#6264c86b;
    padding:30px;
    margin:auto ;
    margin-top: 30px;
    border:10px solid#644bf1 ;
    border-radius: 30px;
}

h3,h4{
    text-align: center;
    color:#330765;
    margin-top: 20px;
    margin-bottom: 20px;
}

h5{
    color:#ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cajas-texto{
    width: 96%;
    padding: 5px;
    margin-bottom: 10px;
}

#botones, input, select{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #00c8ff ;
    border: 3px solid rgb(13, 0, 255);
    color:rgb(0, 0, 0);

}

#botones:hover{
    background-color: rgb(255, 255, 255);
    color: #0400ff   ;
    cursor:wait;
    padding: 6px;
    font-family:initial;
}